* {
  box-sizing: border-box;
}

.app {
  margin: 2rem auto;
  max-width: 650px;
}

.search {
  margin: 0 auto;
  max-width: 300px;
}

.search-box {
  font-size: 1rem;
  width: 100%;
}

.slideshow {
  margin: 2rem 0;
}

.viewer {
  align-items: center;
  border-radius: 5px;
  display: flex;
  position: relative;
  max-height: 650px;
  min-height: 650px;
  overflow: hidden;
}

.image {
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image img {
  background: grey;
  display: block;
  width: 100%;
}

.arrow {
  font-size: 3rem;
  font-weight: 600;
  height: 100%;
  position: absolute;
  top: 0;
}

.arrow > a {
  align-items: center;
  color: #333;
  display: flex;
  height: 100%;
  opacity: 0.3;
  padding: 0 0.5em;
  text-decoration: none;
}

.arrow > a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  opacity: 1;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.thumbnails {
  background: #333;
  border-radius: 5px;
  margin-top: 1rem;
  min-height: 100px;
  padding: 1rem;
  width: 100%;
}

.thumbnails ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 110px;
  grid-auto-rows: 110px;
  grid-gap: 1rem;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  overflow-x: scroll;
  padding: 0;
  position: relative;
  width: auto;
}

.thumbnails li {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.thumbnails .active {
  border: 5px solid white;
}
